
<H1 class= "text-center">Wellcome a Expenses</H1>
<br>

<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!--forms-->
            <form #expensesForm="ngForm" (ngSubmit)="addExpenses(expensesForm)">
                <div class="form-group row">
                    <!---label for="inputId" class="col-sm-2 col-form-label">Id:</label-->
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="_id"
                        #_id="ngModel"
                        [(ngModel)]="expensesService.selectedExpenses._id" >
                    </div>
                </div>              
                
                <div class="form-group row">
                    <label for="inputNameAcoount" class="col-sm-2 col-form-label">Name Account:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                        #expensesAccount="ngModel"
                        [(ngModel)]="expensesService.selectedExpenses.nameAccount" placeholder="Enter a Name Account">
                    </div>
                </div>
               
                
                <div class="form-group">
                    <label for="decription">Description:</label>
                    <textarea class="form-control" #expensesDescription="ngModel"
                    [(ngModel)]="expensesService.selectedExpenses.description" 
                    rows="3">

                </textarea>
                </div>
               
                
               
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </div>
                </div>
            </form>
            <!--fin forms-->
        </div>
    </div>
</div>