
<H1 class="text-center">Wellcome a Users</H1>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <!--forms-->
            <form #usersForm="ngForm" (ngSubmit)="addUsers(usersForm)">
                <div class="form-group row">
                    <!----label for="inputId" class="col-sm-2 col-form-label">Id:</label-->
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="_id"
                         #id="ngModel"
                        [(ngModel)]="usersService.selectedUsers._id" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUserName" class="col-sm-2 col-form-label">User Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #usersName="ngModel"
                        [(ngModel)]="usersService.selectedUsers.usersName" 
                        placeholder="Enter a User Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUserPassword" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #usersPassword="ngModel"
                        [(ngModel)]="usersService.selectedUsers.usersPassword" 
                        placeholder="*****">
                    </div>
                </div>                 

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Select a Type of Rol</legend>
                        <div class="col-sm-10">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose...</option>
                                <option value="1">ATM</option>                                
                            </select>
                        </div>
                    </div>
                </fieldset>                               
                
               
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Select a Status:</legend>
                        <div class="col-sm-10">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose...</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
               
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">To Assign</button>
                    </div>
                </div>
            </form>
            <!--fin forms-->
        </div>
    </div>
</div>