<H1 class="text-center">Wellcome a Reports</H1>

<h2 class="text-center">Select a Option:</h2>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="billCheck">
                    <label class="custom-control-label " for="billCheck">Bill</label>
                </div>
                <br>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="receiptCheck">
                    <label class="custom-control-label" for="receiptCheck">Receipt</label>
                </div>

                <br>
                <div class="form-group">
                    <div class="button btn btn-success"> Aceptar</div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<h2 class="text-center">Grafica</h2>
<div class="row text-center">
        <div class="col-md-7">
            Aca grafica
        </div>
</div>
<!--aca posiblemente graph-->