
<H1 class="text-center">Wellcome a Roles</H1>

<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!--forms-->
            <form #rolesForm="ngForm" (ngSubmit)="addRoles(rolesForm)">
                <div class="form-group row">
                    <!---label for="inputId" class="col-sm-2 col-form-label">Id:</label-->
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="_id"
                        #_id="ngModel"
                        [(ngModel)]="rolesService.selectedRoles._id" >
                    </div>
                </div>              
                
                <div class="form-group row">
                    <label for="inputNameAcoount" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                        #idName="ngModel"
                        [(ngModel)]="rolesService.selectedRoles.name" placeholder="Enter a Name of Rol">
                    </div>
                </div>
               
                
                <div class="form-group">
                    <label for="decription">Description:</label>
                    <textarea class="form-control" #description="ngModel"
                    [(ngModel)]="rolesService.selectedRoles.description" 
                    rows="3">

                    </textarea>
                </div>
               
                
               
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
            <!--fin forms-->
        </div>
    </div>
</div>